html {
  background-color: lightblue;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  text-transform: lowercase;
}

li::first-letter {
  text-transform: uppercase;
  font-weight: bold;
}
