* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 99%;
  margin: 0 auto;
}

.col {
  height: 400px;
  width: 31%;
  border: 3px solid black;
  margin-left: 2.1%;
}

.heading {
  background: purple;
  width: 99%;
  height: 200px;
  margin-bottom: 30px;
}

.col-left {
  background-color: maroon;
  margin-left: 0;
}

.col-mid {
  background-color: lightgreen;
}

.col-right {
  background-color: orange;
}
